body {
    background-color: #2E3440;
    color: #D8DEE9; 
    font-family: 'Fira Code', monospace; 
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 0 auto; 
    text-align: center;
    padding: 100px 20px;
}

h1 {
    font-size: 3em;
    margin-bottom: 50px;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin: 20px 0;
}

a {
    color: #88C0D0;
    text-decoration: none;
    font-size: 1.5em;
}

a:hover {
    text-decoration: underline;
}
